MovieFilterSp/Connected Services/MovieService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="actor" nillable="true" type="tns:actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfactor" nillable="true" type="tns:ArrayOfactor" />
  <xs:complexType name="actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="act_fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="act_fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="act_gender" type="xs:int" />
      <xs:element minOccurs="0" name="act_id" type="xs:int" />
      <xs:element minOccurs="0" name="act_lname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="actor" nillable="true" type="tns:actor" />
  <xs:complexType name="ArrayOfdirector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="director" nillable="true" type="tns:director" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdirector" nillable="true" type="tns:ArrayOfdirector" />
  <xs:complexType name="director">
    <xs:sequence>
      <xs:element minOccurs="0" name="dir_fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir_fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir_id" type="xs:int" />
      <xs:element minOccurs="0" name="dir_lname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="director" nillable="true" type="tns:director" />
  <xs:complexType name="ArrayOfmovie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="movie" nillable="true" type="tns:movie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmovie" nillable="true" type="tns:ArrayOfmovie" />
  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="mov_dt_rel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mov_id" type="xs:int" />
      <xs:element minOccurs="0" name="mov_lang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mov_rel_country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mov_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mov_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mov_year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="movie" nillable="true" type="tns:movie" />
</xs:schema>