MovieFilterSp/Connected Services/MovieService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63659/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63659/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63659/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllActors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActors" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllActors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetActorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActorById" />
  </wsdl:message>
  <wsdl:message name="IService_GetActorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetActorByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByName" />
  </wsdl:message>
  <wsdl:message name="IService_GetActorByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertActor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertActor" />
  </wsdl:message>
  <wsdl:message name="IService_InsertActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateActor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActor" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDirectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDirectors" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDirectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDirectorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDirectorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorById" />
  </wsdl:message>
  <wsdl:message name="IService_GetDirectorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDirectorByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorByName" />
  </wsdl:message>
  <wsdl:message name="IService_GetDirectorByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertDirector_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDirector" />
  </wsdl:message>
  <wsdl:message name="IService_InsertDirector_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDirectorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDirector_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDirector" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDirector_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDirectorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenres" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGenreById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreById" />
  </wsdl:message>
  <wsdl:message name="IService_GetGenreById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGenreByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreByName" />
  </wsdl:message>
  <wsdl:message name="IService_GetGenreByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGenre" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenre" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PostGetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:PostGetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IService_PostGetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostGetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMovieById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieById" />
  </wsdl:message>
  <wsdl:message name="IService_GetMovieById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovie" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovCast_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovCast" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovCast_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovCastResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovDir_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovDir" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovDir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovDirResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovGen_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovGen" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMovGen_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMovGenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllReviewers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllReviewers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetReviewerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewerById" />
  </wsdl:message>
  <wsdl:message name="IService_GetReviewerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetReviewerByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewerByEmail" />
  </wsdl:message>
  <wsdl:message name="IService_GetReviewerByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewerByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertReviewer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertReviewer" />
  </wsdl:message>
  <wsdl:message name="IService_InsertReviewer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertReviewerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllActors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllActors" message="tns:IService_GetAllActors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllActorsResponse" message="tns:IService_GetAllActors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetActorById" message="tns:IService_GetActorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetActorByIdResponse" message="tns:IService_GetActorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActorByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetActorByName" message="tns:IService_GetActorByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetActorByNameResponse" message="tns:IService_GetActorByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertActor" message="tns:IService_InsertActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertActorResponse" message="tns:IService_InsertActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateActor" message="tns:IService_UpdateActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateActorResponse" message="tns:IService_UpdateActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDirectors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllDirectors" message="tns:IService_GetAllDirectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllDirectorsResponse" message="tns:IService_GetAllDirectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDirectorById" message="tns:IService_GetDirectorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDirectorByIdResponse" message="tns:IService_GetDirectorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectorByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDirectorByName" message="tns:IService_GetDirectorByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDirectorByNameResponse" message="tns:IService_GetDirectorByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDirector">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertDirector" message="tns:IService_InsertDirector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertDirectorResponse" message="tns:IService_InsertDirector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDirector">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateDirector" message="tns:IService_UpdateDirector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateDirectorResponse" message="tns:IService_UpdateDirector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllGenres" message="tns:IService_GetAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllGenresResponse" message="tns:IService_GetAllGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGenreById" message="tns:IService_GetGenreById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGenreByIdResponse" message="tns:IService_GetGenreById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGenreByName" message="tns:IService_GetGenreByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGenreByNameResponse" message="tns:IService_GetGenreByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertGenre" message="tns:IService_InsertGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertGenreResponse" message="tns:IService_InsertGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGenre" message="tns:IService_UpdateGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGenreResponse" message="tns:IService_UpdateGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllMovies" message="tns:IService_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllMoviesResponse" message="tns:IService_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostGetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PostGetAllMovies" message="tns:IService_PostGetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PostGetAllMoviesResponse" message="tns:IService_PostGetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMovieById" message="tns:IService_GetMovieById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMovieByIdResponse" message="tns:IService_GetMovieById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertMovie" message="tns:IService_InsertMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertMovieResponse" message="tns:IService_InsertMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMovCast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertMovCast" message="tns:IService_InsertMovCast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertMovCastResponse" message="tns:IService_InsertMovCast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMovDir">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertMovDir" message="tns:IService_InsertMovDir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertMovDirResponse" message="tns:IService_InsertMovDir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMovGen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertMovGen" message="tns:IService_InsertMovGen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertMovGenResponse" message="tns:IService_InsertMovGen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllReviewers" message="tns:IService_GetAllReviewers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllReviewersResponse" message="tns:IService_GetAllReviewers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetReviewerById" message="tns:IService_GetReviewerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetReviewerByIdResponse" message="tns:IService_GetReviewerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewerByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetReviewerByEmail" message="tns:IService_GetReviewerByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetReviewerByEmailResponse" message="tns:IService_GetReviewerByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertReviewer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertReviewer" message="tns:IService_InsertReviewer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertReviewerResponse" message="tns:IService_InsertReviewer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllActors">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllActors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActorById">
      <soap:operation soapAction="http://tempuri.org/IService/GetActorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActorByName">
      <soap:operation soapAction="http://tempuri.org/IService/GetActorByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertActor">
      <soap:operation soapAction="http://tempuri.org/IService/InsertActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateActor">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDirectors">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllDirectors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectorById">
      <soap:operation soapAction="http://tempuri.org/IService/GetDirectorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectorByName">
      <soap:operation soapAction="http://tempuri.org/IService/GetDirectorByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDirector">
      <soap:operation soapAction="http://tempuri.org/IService/InsertDirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDirector">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateDirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreById">
      <soap:operation soapAction="http://tempuri.org/IService/GetGenreById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreByName">
      <soap:operation soapAction="http://tempuri.org/IService/GetGenreByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGenre">
      <soap:operation soapAction="http://tempuri.org/IService/InsertGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostGetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IService/PostGetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieById">
      <soap:operation soapAction="http://tempuri.org/IService/GetMovieById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMovie">
      <soap:operation soapAction="http://tempuri.org/IService/InsertMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMovCast">
      <soap:operation soapAction="http://tempuri.org/IService/InsertMovCast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMovDir">
      <soap:operation soapAction="http://tempuri.org/IService/InsertMovDir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMovGen">
      <soap:operation soapAction="http://tempuri.org/IService/InsertMovGen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllReviewers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewerById">
      <soap:operation soapAction="http://tempuri.org/IService/GetReviewerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewerByEmail">
      <soap:operation soapAction="http://tempuri.org/IService/GetReviewerByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReviewer">
      <soap:operation soapAction="http://tempuri.org/IService/InsertReviewer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:63659/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>